<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/login}">
    <head th:fragment="site-head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adventure</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
              th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" type="text/css"/>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/fonts/fontawesome.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/fonts/ionicons.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Article-List.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Footer-Basic.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Navigation-Clean.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Navigation-with-Button.css}"/>
        <link rel="stylesheet" type="text/css" href="{/css/styles.css}" th:href="@{/css/styles.css}"/>
        <link rel="icon" th:href="@{/img/favicon.ico}"/>

    </head>

    <body>
        <div th:fragment="navbar">
            <nav class="navbar navbar-light navbar-expand-md navigation-clean fixed-top"
                 style= "background-color:rgba(27,59,181,0.78);height:75px;">
                <div class="container align-items-start"><a class="navbar-brand " th:href="@{/}"
                                                            style="color:rgb(255,255,255);font-size:24px;">
                    <h2 class="navbar-brand align-content-center">Adventure</h2></a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span
                            class="navbar-toggler-icon"></span></button>
                    <div
                            class="collapse navbar-collapse" id="navcol-2" style="background-color:rgba(55,36,54,0);">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#"></a></li>
                            <li class="dropdown" style="color:rgb(0,0,0);"><a
                                    class="dropdown-toggle nav-link text-info dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false" href="#"
                                    style="color:rgb(0,9,17);font-size:23px;height:70px;padding:15px;"><i
                                    class="fa fa-align-justify" style="color:rgb(0,0,0);"></i></a>
                                <div
                                        class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation"
                                                                             th:href="@{/viewTrips}">My
                                    Trips</a><a class="dropdown-item" role="presentation" th:href="@{/profile}">Profile</a><a
                                        class="dropdown-item" role="presentation" th:href="@{/profile}"></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <br/>
        <br/>
        <br/>
        <div>
            <div th:fragment="navbar2">
                <nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-bottom navigation-clean-button fixed-bottom "
                     style="
    padding-top: 2px;
    padding-bottom: 2px;
">
                    <div class="container">
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                                class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse"
                             id="navcol-1">
                            <ul class="nav navbar-nav mr-auto">
                                <form class="dropdown" method="get" th:action="@{/seeTrip}" th:label="${trip.title}">
                                    <select class="custom-select" id="list" name="id"
                                            onchange='if(this.value != 0) { this.form.submit(); }'>
                                        <option selected disabled>Select a trip..</option>
                                        <option class="custom-select" th:each="trip:${tripsList}" th:value="${trip.id}"
                                                th:text="${trip.title}">
                                        </option>
                                    </select>
                                </form>
                            </ul>
                            <span class="navbar-text actions">
                                <a class="btn btn-light action-button" role="button"
                                   th:href="@{/editTrip/{id}(id=${trip.id})}">Edit</a>
                                <a class="btn btn-light action-button" role="button" data-toggle="modal"
                                   data-target="#createModal" style="background-color:rgb(20,207,61);">Add</a>
                                <a class="btn btn-light action-button" role="button"
                                   style="background-color:rgb(207,20,20);" th:href="@{/deleteTrip/{id}(id=${trip.id})}">Delete</a></span>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div id="header">
            <div class="hero-image" id="coverImg">
                <div class="container">
                    <div class="header-content">
                        <div class="hero-text">
                            <h1>I'm <span id="typed"></span></h1>
                            <p>traveler, photographer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="article-list">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">My Trips Around The Globe</h2>
                    <p class="text-center">Take a look in my adventures! </p>
                </div>
                <div class="row articles justify-content-center">
                    <div class="col-sm-6 col-md-4 item" th:each="trip : ${trips}">
                        <div id="carusel1" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carusel1" data-slide-to="0" class="active"></li>
                                <li data-target="#carusel1" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="img-thumbnail" th:src="@{/image/{id}(id=${trip.filePath})}" alt="0">
                                </div>
                                <div class="carousel-item">
                                    <img class="img-thumbnail" th:src="@{/image/{id}(id=${trip.filePath2})}" alt="1">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carusel1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carusel1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <h3 class="name" th:text="${trip.title}"></h3>
                        <p class="description" th:text="${trip.description}"></p><a th:href="@{/seeTrip/{id}(id=${trip.id})}"
                                                                                    class="action"><i
                            class="fa fa-arrow-circle-right"></i></a></div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal2" aria-hidden="true"
             th:fragment="modal">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModal2">Add new trip</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="mb-4">Create Trip</h5>
                                <form class="was-validated" action="#" th:action="@{/createTrip}" th:object="${trip}"
                                      method="post">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="form-2-trip-name">Trip Name</label>
                                            <input type="text" class="form-control is-valid" id="form-2-trip-name"
                                                   th:field="*{title}">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="form-2-description">Description</label>
                                            <textarea class="form-control is-valid" th:field="*{description}" required
                                                      id="form-2-description"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="form-2-location">Location</label>
                                            <input type="text" th:field="*{location}" class="form-control is-invalid"
                                                   id="form-2-location" required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="datepicker-example-1">Start Date</label>
                                                <div class="input-group with-addon-icon-left">
                                                    <input type="date" th:field="*{{startDate}}" required
                                                           class="form-control" id="datepicker-example-1">
                                                    <span class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="datepicker-example-2">End Date</label>
                                                <div class="input-group with-addon-icon-left">
                                                    <input type="date" th:field="*{{endDate}}" required class="form-control"
                                                           id="datepicker-example-2">
                                                    <span class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-md-6 mb-3">
                                            <label for="customFile2">Trip Pictures</label>
                                            <div class="custom-file w-100">
                                                <input th:field="*{filePath}" type="file" class="custom-file-input"
                                                       id="customFile2" required>
                                                <label class="custom-file-label" for="customFile2">Choose file...</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="customFile2">Trip Pictures</label>
                                            <div class="custom-file w-100">
                                                <input th:field="*{filePath2}" type="file" class="custom-file-input"
                                                       id="customFile3" required>
                                                <label class="custom-file-label" for="customFile3">Choose 2nd file...</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" value="Submit">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="createModal3" tabindex="-1" role="dialog" aria-labelledby="createModal4"
             aria-hidden="true"
             th:fragment="modal">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModal4">Add new trip</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#" th:action="@{/editTrip}" th:object="${trip}" method="post">
                            <p>Name: <input type="text" th:field="*{title}" required/></p>
                            <p>Descriptions: <textarea th:field="*{description}" required/></p>
                            <p>Start Date: <input type="datetime" th:field="*{{startDate}}" required/></p>
                            <p>End Date:<input type="datetime" th:field="*{{endDate}}" required/></p>
                            <p>Location:<input type="text" th:field="*{location}" required/></p>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" value="Submit">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a th:href="@{/}">Home</a></li>
                    <li class="list-inline-item"><a th:href="@{/profile}">Profile</a></li>
                    <li class="list-inline-item"><a href="#">About</a></li>
                </ul>
                <p class="copyright">Adventure © 2019</p>
            </footer>
        </div>
        <script>
    var options = {
        strings: ["Adina.", "TRAVELER.", "PHOTOGRAPHER."],
        typeSpeed: 120,
        loop: true,
        backDelay: 1000,
        backSpeed: 80,
        showCursor: false
    }
    var typed = new Typed("#typed", options);
</script>
        <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.4/popper.min.js}"></script>
    </body>
</html>