<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/login}">
    <head th:insert="index::site-head">
    </head>
    <body>
        <div th:insert="index::navbar"></div>
        <div th:insert="index::navbar2"></div>
        <div id="header">
            <div class="hero-image" id="profileImg">
                <div class="container">
                    <div class="header-content">
                        <div class="hero-text">
                            <h1>Heloo There!!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="index::site-footer"></div>
        <div th:insert="index::modal"></div>
    </body>

</html>