<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/login}">    <head th:insert="index::site-head">
    <body>
        <div th:insert="index::navbar"></div>
        <div th:insert="index::navbar2"></div>

        <br/>
        <br/>
        <br/>
        <br/>
        <div th:switch="${trips}">
            <h2 th:case="null">No trips yet!</h2>
            <div th:case="*">
                <h3 class="header-panel align-content-center">Trips List</h3>
                <div>
                    <table class="table-bordered" th:each="trip : ${trips}">
                        <thead>
                            <tr>
                                <th>Name</th>

                                <th>Location</th>
                            </tr></thead>
                        <tbody>
                            <tr>
                                <td th:text="${trip.title}"></td>
                                <td><a th:href="${'/deleteTrip/' + trip.id}">Delete</a></td>

                            </tr>
                            <tr>
                                <td id="pozaTrip"><a th:value="${trip.id}" th:href="@{/seeTrip/{id}(id=${trip.id})}"><img
                                        class="img-thumbnail" id="tripImg" th:src="@{/image/{id}(id=${trip.filePath})}"></a></td>
                                <td id="pozaTrip2"><a th:value="${trip.id}" th:href="@{/seeTrip/{id}(id=${trip.id})}"><img
                                        class="img-thumbnail" id="tripImg2" th:src="@{/image/{id}(id=${trip.filePath2})}"></a></td>
                                <td th:text="${trip.location}"></td>
                                <td><a th:href="${'/deleteTrip/' + trip.id}">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:insert="index::site-footer"></div>
        <div th:insert="index::modal"></div>
        <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.4/popper.min.js}"></script>
    </body>
</html>